.idea/
*.iml

.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
/target/
/build/

# Maven / Gradle
.mvn/
.gradle/
!gradle-wrapper.jar

# Docker
*.env
docker-compose.override.yml

# SSL certs
certs/
*.pem
*.key
*.crt

# IntelliJ run configs
*.iws
out/

# VSC
.vscode

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.nx/installation
.nx/cache
.nx/workspace-data
node_modules

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md