[Unit]
Description=Docker Compose for Akinita
Requires=docker.service
After=docker.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ appuser }}
Group={{ appgroup }}
WorkingDirectory={{service.workingdir}}

ExecStart=/usr/bin/docker compose -f {{ service.docker_compose_file }} up -d
ExecStop=/usr/bin/docker compose -f {{ service.docker_compose_file }} down

[Install]
WantedBy=multi-user.target